:root {
    --oscuro: #111827;
    --gris: #6b7ca0;
    --azul: #4c86aa;
    --celeste: #4cc2d1;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: monospace;
    background: #141e30;
    background: -webkit-linear-gradient(to right, #243b55, #141e30);
    background: linear-gradient(to right, #243b55, #141e30);
  }
  
  main{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
  }

  .inicio_registro{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
  }

  .apartado{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px);
    background-color: var(--oscuro)
  }

  .apartado div{
margin: 100px 40px;
color: var(--gris);
transition: all 500ms;
  }

  .apartado div p{
    margin-top: 30px;}
    
  .apartado div button{
    padding: 10px 40px;
    border: 2px solid var(--gris);
    background: transparent;
    font-size: 12px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    transition: all 300ms;
margin-top: 30px;

}

.apartado div h3{
    font-weight: 380;
    font-size: 30px;}

    .apartado button:hover{
        background-color: white;
        border-color: white;
        color: var(--gris);}

        /* Formularios de inicio de sesión y registro */


        .formulario_inicio-registro{
            display: flex;
            align-items: center;
            width: 400px;
            position:relative;
        top: -185px;
    left: 10px;
  transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275 )
  }

        .formulario_inicio-registro form{
            width: 100%;
            padding: 80px 20px;
            background-color: var(--gris);
            position:absolute;
            border-radius: 20px}

            .formulario_inicio-registro form h2{
                font-size: 30px;
                text-align: center;
                margin-bottom: 20px;
                color: var(--oscuro);}

                .formulario_inicio-registro form input{
                    width: 100%;
                    margin-top: 20px;
                    padding: 10px;
                 border: none;
                 background: #F2F2F2;
                font-size: 16px;
                outline: none;
                color: var(--oscuro);

                }

                .formulario_inicio-registro form button{
                    padding: 10px 40px;
                margin-top: 40px;
                border: none;
                font-size: 14px;
                background: #F2F2F2;
                color: var(--oscuro);
                cursor: pointer;
                outline: none;}

                .formulario_inicio{
                    opacity: 1;
                    display: block;
                }
   .formulario_registro{
    display: none;
   }
        
/* Responsive */

 @media screen and (max-width: 850px){

  main {margin-top: 50px;}
    .apartado{
      max-width: 350px;
      height: 300px;
      flex-direction: column;
      margin: auto;
    }
  
    .apartado div{
      margin: 0px;
      position: absolute;
    }

/* Formulario responsive */

.formulario_inicio-registro{
  top: -10px;
  left: -5px;
  margin: auto;}

  .formulario_inicio-registro form{
    position: relative;
  }
 }

 


